<div class="buttons">
  <button {{action "revert"}} class="btn btn-secondary btn-add split-btn-left">
    {{type}}
  </button>
</div>

<ul class="dropdown-menu list-items">
  {{#each stackItems as |items index|}}
    {{undo-redo-record items=items index=index revertToIndex="revert"}}
  {{/each}}
</ul>
